body{
    background-color: aqua;
    background-image: url("pozadi.jpg");
    background-size: cover;
}
.Nadpis{
    color:yellow; font-family: Arial, Helvetica, sans-serif;
}
.Nadpis2{
    color:green; font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Nadpis3{
    color:red; font-family: 'Times New Roman', Times, serif;
}
.Obleceni {
    color: white; /* Výchozí barva textu */
    list-style: upper-roman;
}

.Obleceni li::marker {
    font-weight: bold; /* Můžete upravit styl markeru (volitelné) */
}

.Obleceni li:nth-child(1)::marker {
    color: red; /* Barva první odrážky */
}

.Obleceni li:nth-child(2)::marker {
    color: green; /* Barva druhé odrážky */
}

.Obleceni li:nth-child(3)::marker {
    color: blue; /* Barva třetí odrážky */
}

.Technika {
    color: white; /* Výchozí barva textu */
    list-style: upper-roman;
}

.Technika li::marker {
    font-weight: bold; /* Můžete upravit styl markeru (volitelné) */
}

.Technika li:nth-child(1)::marker {
    color: blueviolet; /* Barva první odrážky */
}

.Technika li:nth-child(2)::marker {
    color: bisque; /* Barva druhé odrážky */
}

.Technika li:nth-child(3)::marker {
    color: magenta; /* Barva třetí odrážky */
}

.Mobil {
    list-style: disc;
}

.Notebook {
    list-style: circle;
}

.Sluchatka {
    list-style: square;
}

.Jidlo {
    color: white; /* Výchozí barva textu */
    
}

.Jatra {
    list-style-type: none;
    background-image: url('Confused_Emoji.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.Halusky {
    list-style-type: none;
    background-image: url('Smiling_Emoji.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.Pizza {
    list-style-type: none;
    background-image: url('Confused_Emoji.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
